.App {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    width: 300px;
    height: 100px;
}

.el {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
